In [1]:
import pandas

In [ ]:
#Series - names , citis , time
#Data Frame - key and values
#Files - CSV or Excel

In [5]:
import pandas as pd

time_series = [11, 11.30 , 12 , 12.30 , 13 , 13.30]
print("Before DataFrame :", time_series)

mydata = pd.Series(time_series)
print("----------------------")
print("After Dataframe :")
print(mydata)

Before DataFrame : [11, 11.3, 12, 12.3, 13, 13.3]
----------------------
After Dataframe :
0    11.0
1    11.3
2    12.0
3    12.3
4    13.0
5    13.3
dtype: float64

In [8]:
import pandas as pd
import numpy as np
marks = np.array([86 , 75 , 67 , 78 , 98])

dataFrame = pd.Series(marks , index = ["Math" , "Scie" , "Eng" , "Hindi" , "Telagu"])
print(dataFrame)

Math      86
Scie      75
Eng       67
Hindi     78
Telagu    98
dtype: int64

In [12]:
import pandas as pd

Data = {
      "marks" : [78 , 65 , 78 , 99, 56],
      "subject" : ["Math" , "Scie" , "Eng" , "Hindi" , "Telagu"]
}

dataFrame = pd.Series(Data)
print(dataFrame)

marks                  [78, 65, 78, 99, 56]
subject    [Math, Scie, Eng, Hindi, Telagu]
dtype: object

In [13]:
#File CSV
import pandas as pd
 
dataFrame = pd.read_csv("sample.csv")
print(dataFrame)

   Roll_No    Name  Marks
0     1001  Rajesh     23
1     1002   Shyam     34
2     1003   suman     55
3     1004  Sushul     44
4     1005   Kunal     78
5     1006  Raghav     44
6     1007   Laxmi     55
7     1008   Mohan     79
8     1009   Seeta     55
9     1010   Geeta     33